@import '../variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
img {
  max-width: 100%;
}
body {
  background-color: pink;
}
.pages {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: $medium;
  padding: 10px;
  border-radius: 5px;
  border: $regular-border;
}

#homepage {
  #navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 50px;
    background-color: $medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  #login-container {
    width: 90%;
    max-width: 500px;
    height: 300px;
    #button-box {
      width: 100%;
      button {
        width: 50%;
      }
    }
  }
}

#dashboard-page {
  #dash-nav {
    position: fixed;
    background-image: linear-gradient(to bottom, $light, 95%, transparent);
    padding: 20px;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    max-width: 1200px;
    height: 80px;
    #alerts-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .alert-box {
        background-color: rgb(250, 115, 137);
        margin: 0 5px;
        padding: 3px;
        height: 25px;
        width: 25px;
        text-align: center;
        border-radius: 3px;
        border: $regular-border;
      }
      .alert-box:hover {
        background-color: darken(rgb(250, 115, 137), 10%);
      }
    }
    #user-menu-button {
      border-radius: 50%;
      margin-left: 20px;
      width: 40px;
      height: 40px;
    }
    #user-menu {
      position: absolute;
      right: 0px;
      margin: 50px 40px;
      background-color: $medium;
      border: $regular-border;
      border-radius: 5px;
      padding: 5px;
    }
  }
  #brokers-container {
    background-color: $light;
    width: 100vw;
    max-width: 1200px;
    min-height: 100vh;
    padding: 80px 20px;
    .broker {
      background-color: $light;
      margin-bottom: 10px;
      .collapsed-bar {
        display: flex;
        align-items: center;
        gap: 8px;
        .total-alerts-box {
          background-color: rgb(171, 171, 255);
          width: 30px;
          height: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          border: $regular-border;
        }
      }
      .collapsed-bar button:last-child {
        margin-left: auto;
        padding: 3px;
      }
      .broker-metrics {
        display: flex;
        justify-content: space-between;
        text-align: center;
        .metric {
          color: red;
          height: 300px;
          width: 350px;
          border: 1px solid rgb(103, 102, 102);
          border-radius: 5px;
          background-color: rgb(253, 177, 147);
          padding: 10px;
          margin: 10px 0;
          h2 {
            border: 1px solid rgb(103, 102, 102);
            border-radius: 5px;
          }
          .graph canvas {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}

#landing-page {
  min-height: 100vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;

  #header {
    position: fixed;
    background-color: pink;
    width: 100vw;
  }
  #main {
    max-width: 1200px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: red;
    align-items: center;
    justify-content: space-between;
    #hero {
      max-width: 800px;
      background-color: lightblue;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: 3.5em;
      }
      h3 {
        margin-top: 20px;
      }
      button {
        font-size: 1.2em;
        padding: 10px;
        border-radius: 3px;
        margin-top: 20px;
      }
    }
    .features {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .features-row {
      display: flex;
      justify-content: space-between;
    }
  }
  #footer {
    width: 100vw;
    flex-shrink: 0;
    background-color: lightgreen;
  }
}
