@import '../variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
img {
  max-width: 100%;
}
body {
  background-color: $page-background;
  font-size: 1rem;
}
.pages {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: $medium-dark;
  padding: 2% 3%;
  border-radius: 10px;
  border: $regular-border;
  color: $dark;
  font-weight: bold;
}

#alerts-container {
  color: $alert-header-text;
}

#homepage {
  #navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    color: $dark;
    min-height: 80px;
    // background-color: $medium-light;
    background-image: linear-gradient(
      90deg,
      rgb(249, 75, 6) 0%,
      hsla(42, 94%, 57%, 1) 100%
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  #login-container {
    background-color: $chart-background;
    width: 90%;
    max-width: 500px;
    height: 280px;
    font-size: 1.2rem;
    #button-box {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      margin: 5% auto;
      button {
        width: 40%;
        height: 40px;
        margin: 4%;
        background-color: $button-background;
        color: $text;
        border-radius: 8px;
        font-size: 1.15rem;
        font-weight: bold;
        border: 2.6px solid $medium-dark;
      }
    }
    #username {
      margin: 4% 3% 3% 5%;
      height: 25px;
      width: 200px;
      border-radius: 4px;
      border: $small-box-border-dark;
    }
    #password {
      margin: 3% 3% 5% 6.7%;
      height: 25px;
      width: 200px;
      border-radius: 4px;
      border: $small-box-border-dark;
    }
  }
}

#dashboard-page {
  #dash-nav {
    position: fixed;
    background-image: linear-gradient(
      to bottom,
      $medium-dark,
      95%,
      transparent
    );
    padding: 20px;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100vw;
    max-width: 1200px;
    height: 100px;
    align-items: center;
    #alerts-container {
      width: 100%;
      height: 70px;
      display: flex;
      border-radius: 10px;
      flex-direction: row;
      align-items: center;
      background-image: linear-gradient(
        90deg,
        rgb(249, 75, 6) 0%,
        hsla(42, 94%, 57%, 1) 100%
      );
      .alert-box {
        display: flex;
        background-color: $medium-dark;
        margin-left: 12px;
        padding: 3px;
        height: 35px;
        width: 35px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: $small-box-border-light;
        font-size: 1.3rem;
      }
      .alert-box:hover {
        background-color: darken($medium-dark, 10%);
      }
    }
    #user-menu-button {
      border-radius: 50%;
      margin-left: 10px;
      width: 56px;
      height: 56px;
    }
    #user-menu {
      position: absolute;
      right: 0px;
      margin: 50px 40px;
      background-color: $light;
      border: $regular-border;
      border-radius: 5px;
      padding: 5px;
    }
  }
  #brokers-container {
    background-color: $medium-dark;
    width: 100vw;
    max-width: 1200px;
    min-height: 100vh;
    padding: 80px 20px;
    margin-top: 18px;
    .broker {
      background-color: $light;
      margin-bottom: 10px;
      .collapsed-bar {
        display: flex;
        align-items: center;
        gap: 8px;
        .total-alerts-box {
          background-color: $medium-light;
          width: 33px;
          height: 33px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }
      }
      .collapsed-bar button:last-child {
        margin-left: auto;
        padding: 3px;
      }
      .broker-metrics {
        display: flex;
        justify-content: space-between;
        text-align: center;
        .metric {
          color: $chart-header-text;
          height: 280px;
          width: 350px;
          border: 1px solid $medium-dark;
          border-radius: 5px;
          background-color: $chart-background;
          padding: 10px;
          margin: 10px 0;
          h2 {
            border: 1px solid $dark;
            border-radius: 5px;
          }
          .graph canvas {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}

#landing-page {
  min-height: 100vh;
  background-color: $page-background;
  display: flex;
  flex-direction: column;
  align-items: center;

  #header {
    position: fixed;
    background-color: pink;
    width: 100vw;
    background-image: linear-gradient(
      90deg,
      rgb(249, 75, 6) 0%,
      hsla(42, 94%, 57%, 1) 100%
    );
  }
  #main {
    max-width: 1200px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: $page-background;
    align-items: center;
    justify-content: space-between;
    #hero {
      max-width: 800px;
      background-color: lightblue;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: 3.5em;
      }
      h3 {
        margin-top: 20px;
      }
      button {
        font-size: 1.2em;
        padding: 10px;
        border-radius: 3px;
        margin-top: 20px;
      }
    }
    .features {
      display: flex;
      flex-direction: column;
      align-items: center;
      .features-row {
        display: flex;
        justify-content: space-between;
        .single-feature-box {
          background-color: pink;
          margin: 2px;
        }
      }
    }
    #team-box {
      background-color: aqua;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h2 {
        text-align: center;
      }
      .team-members {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .player-box {
          background-color: orange;
          margin: 2px;
          width: 30%;
          img {
            margin-top: 10%;
            width: 100px;
          }
          .links {
            display: flex;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  }
  #footer {
    width: 100vw;
    flex-shrink: 0;
    text-align: center;
    background-image: linear-gradient(
      to right,
      hsla(42, 94%, 57%, 1) 0%,
      rgb(249, 75, 6) 100%
    );
  }
}
