@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

// === COLORS ===
$dark: #004e89;
$medium-dark: #1a659e;
$medium: #ff6b35;
$medium-light: #f7c59f;
$light: #e9e9e9;
$text: #fde4d1;
$button-background: #4392ce;
$page-background: #0e3d61;

$alert-header-text: #fcfce8;
$alert-header: #f5f56f;
$alert-header-background: #5ea2d7;
$chart-background: #f8d7bd;
$chart-header-text: #004e89;


// $alertColor: #35ff57;
// $nonAlertColor: #1a659e;

// === FONTS ===
$main-font: 'Noto Sans', Arial, Helvetica, sans-serif;
$small-font: 12px;
$medium-font: 16px;
$large-font: 24px;

$regular-border: 3px solid $medium-dark;
$small-box-border-dark: 2px solid $medium-dark;
$small-box-border-light: 2px solid $medium-light;


// :export {
//   alertColor: $alertColor;
//   nonAlertColor: $nonAlertColor;
// }