// === COLORS ===
$dark: #202020;
$medium-dark: #505050;
$medium: #b0b0b0;
$medium-light: #dbdbdb;
$light: #f5f5f5;

$alert-color: 'salmon';
$non-alert-color: 'skyblue';

// === FONTS ===
$main-font: Arial, Helvetica, sans-serif;
$small-font: 12px;
$medium-font: 16px;
$large-font: 24px;

$regular-border: 1px solid $medium-dark;
