@import url('./variables.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-main);
}
img {
  max-width: 100%;
}
body {
  background-color: var(--cl-page-background);
  font-size: 1rem;
}
.pages {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: var(--cl-medium-dark);
  padding: 2% 3%;
  border-radius: 10px;
  border: var(--border-regular);
  color: var(--cl-dark);
  font-weight: bold;
}

#alerts-container {
  color: var(--cl-cream-text);
}

#homepage {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  #navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--cl-dark);
    min-height: 80px;
    /* // background-color: var(--cl-medium-light); */
    background-image: linear-gradient(
      90deg,
      rgb(249, 75, 6) 0%,
      hsla(42, 94%, 57%, 1) 100%
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  #login-container {
    background-color: var(--cl-chart-background);
    width: 90%;
    max-width: 500px;
    /* //height: 22vh; */
    font-size: 1.2rem;
    margin-top: auto;
    #button-box {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      margin: 5% auto;

      button {
        width: 40%;
        height: 40px;
        margin: 4%;
        background-color: var(--cl-button-background);
        color: var(--cl-cream-text);
        border-radius: 8px;
        font-size: 1.15rem;
        font-weight: bold;
        border: 2.6px solid var(--cl-medium-dark);
      }
      @media screen and (max-width: 500px) {
        button {
          font-size: 0.9rem;
        }
      }
    }
    #username {
      margin: 4% 3% 3% 5%;
      height: 25px;
      width: 200px;
      border-radius: 4px;
      border: var(--br-small-dark);
    }
    #password {
      margin: 3% 3% 5% 6.7%;
      height: 25px;
      width: 200px;
      border-radius: 4px;
      border: var(--br-small-dark);
    }
  }
  #demo-button {
    background-color: var(--cl-chart-background);
    padding: 5px;
    color: var(--cl-dark);
    border-radius: 8px;
    border: 2.6px solid var(--cl-medium-dark);
    font-size: 1.13rem;
  }
}

#dashboard-page {
  #dash-nav {
    position: fixed;
    background-image: linear-gradient(
      to bottom,
      var(--cl-medium-dark),
      95%,
      transparent
    );
    padding: 20px;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100vw;
    max-width: 1200px;
    height: 100px;
    align-items: center;
    #alerts-container {
      width: 100%;
      height: 70px;
      display: flex;
      border-radius: 10px;
      flex-direction: row;
      align-items: center;
      background-image: linear-gradient(
        90deg,
        rgb(249, 75, 6) 0%,
        hsla(42, 94%, 57%, 1) 100%
      );
      .alert-box {
        display: flex;
        background-color: var(--cl-medium-dark);
        margin-left: 12px;
        padding: 3px;
        height: 35px;
        width: 35px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: var(--br-small-light);
        font-size: 1.3rem;
      }
      .alert-box:hover {
        /* TO DO */
        /* background-color: darken(var(--cl-medium-dark), 10%); */
      }
    }
    #user-menu-button {
      border-radius: 50%;
      margin-left: 10px;
      width: 56px;
      height: 56px;
    }
    #user-menu {
      position: absolute;
      right: 0px;
      top: -75px;
      margin: 90px 80px 55px;
      background-color: var(--cl-light);
      background-image: linear-gradient(
        to top,
        var(--cl-medium-light) 0%,
        var(--cl-light) 100%
      );
      border: var(--border-regular);
      border-radius: 5px;
      padding: 10px;
      .broker-id-form {
        padding: 3px;
        input {
          width: 100%;
          height: 30px;
          margin: 5px auto;
        }
      }
      button {
        padding: 3px 5px;
        margin: 3px auto;
        background-color: var(--cl-alert-header-text);
        border-radius: 5px;
      }
      #logout {
        margin-left: 3px;
      }
    }
  }
  #brokers-container {
    background-color: var(--cl-medium-dark);
    width: 100vw;
    max-width: 1200px;
    min-height: 100vh;
    padding: 80px 20px;
    margin-top: 18px;
    .broker {
      background-color: var(--cl-light);
      margin-bottom: 10px;
      .collapsed-bar {
        display: flex;
        align-items: center;
        gap: 8px;
        .total-alerts-box {
          background-color: var(--cl-medium-light);
          width: 33px;
          height: 33px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }
      }
      .collapsed-bar button:last-child {
        margin-left: auto;
        padding: 3px;
      }
      .broker-metrics {
        display: flex;
        justify-content: space-between;
        text-align: center;
        .metric {
          color: var(--cl-chart-header-text);
          height: 280px;
          width: 350px;
          border: 1px solid var(--cl-medium-dark);
          border-radius: 5px;
          background-color: var(--cl-chart-background);
          padding: 10px;
          margin: 10px 0;
          h2 {
            border: 1px solid var(--cl-dark);
            border-radius: 5px;
          }
          .graph canvas {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}
#footer {
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right,
    hsla(42, 94%, 57%, 1) 0%,
    rgb(249, 75, 6) 100%
  );
  /* // font-size: 12px; */
  margin-top: auto;
  .footer-links {
    padding: 2px;
    a {
      color: inherit;
      margin-right: 8px;
      :hover {
        color: var(--cl-page-background);
      }
    }
  }
}
#landing-page {
  min-height: 100vh;
  background-color: var(--cl-page-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  #header {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cl-accent);
    background-image: linear-gradient(
      to right,
      var(--cl-accent) 0%,
      var(--cl-light-accent) 60%
    );
    @media (max-width: 700px) {
      background-image: linear-gradient(
        to right,
        var(--cl-accent),
        var(--cl-light-accent)
      );
    }
    div {
      margin: 3px 10px 5px 5px;
      padding: 3px;
      border-radius: 50%;
      background-image: linear-gradient(
        to bottom,
        var(--cl-accent) 0%,
        var(--cl-light-accent) 180%
      );
      img {
        width: 50px;
        @media (max-width: var(--breakpoint-phone)) {
          width: 30px;
        }
      }
    }
    @media (max-width: var(--breakpoint-phone)) {
    }
  }
  @media (max-width: var(--breakpoint-phone)) {
    #header {
      img {
        width: 20px;
      }
    }
  }
  #main {
    max-width: 1200px;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    #hero {
      /* background: radial-gradient(
        closest-side,
        /* TO DO */ /* lighten(var(--cl-page-background), 10%), */
      /* var(--cl-page-background) */
      /* );  */
      width: 100%;
      max-width: 1000px;
      padding: 10rem 0 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: var(--cl-cream-text);
      span {
        font-family: var(--ff-logo);
        font-size: 4rem;
        font-weight: 500;
        margin-bottom: -0.3rem;
      }
      h1 {
        font-weight: 400;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.2rem;
        text-align: center;
      }
      button {
        font-size: 1.2em;
        padding: 0.7rem 3rem;
        border-radius: 3rem;
        margin-top: 20px;
        /* background-color: var(--cl-button-background); */
        /* TO DO */
        /* background-color: lighten(var(--cl-page-background), 12%); */
        border: 1px solid var(--cl-cream-text);
        color: var(--cl-cream-text);
        margin-top: 3rem;
      }
      button:hover {
        /* TO DO */
        /* background-color: lighten(var(--cl-page-background), 3%); */
      }
    }
    #feature-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      color: var(--cl-cream-text);
      > :first-child {
        width: 100%;
        text-align: center;
        font-weight: 400;
        margin-bottom: 1.2rem;
      }
      .single-feature {
        /* TO DO */
        /* background-color: lighten(var(--cl-page-background), 7%); */
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 250px;
        flex: 0 0 30%;
        margin: 8px;
        padding: 40px 20px 20px;

        strong {
          margin-top: 1.5rem;
          font-size: 1.25rem;
          margin-bottom: 0.7rem;
        }
        p {
          text-align: center;
        }
      }
      @media (max-width: 550px) {
        .single-feature {
          min-width: 47%;
          margin: 1.5%;
          padding: 1rem 0.5rem;
        }
      }
    }

    #team-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: var(--cl-cream-text);
      margin: 6rem 0 3rem;
      h1 {
        margin-bottom: 20px;
      }
      #team-members {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 700px;
        justify-content: center;
        @media (min-width: 1200px) {
          width: 1200px;
        }
        @media (max-width: 700px) {
          width: 100%;
        }
        .player-box {
          background-color: var(--cl-page-background);
          border: 1px solid var(--cl-cream-text);
          border-radius: 5px;
          margin: 5px;
          width: 220px;
          color: var(--cl-cream-text);
          img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            border-radius: 3px;
          }
          .links {
            display: flex;
            justify-content: center;
            padding: 5px;
          }
          a {
            text-decoration: none;
            color: inherit;
            padding: 5px;
          }
        }
      }
    }
  }
  #footer {
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(
      to left,
      var(--cl-accent),
      var(--cl-light-accent)
    );

    .footer-links {
      padding: 2px;
      a {
        color: inherit;
        margin-right: 8px;
        :hover {
          color: var(--cl-page-background);
        }
      }
    }
  }
}
