@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

/* // === COLORS === */
:root {
  --cl-dark: #0e3d61;
  --cl-medium-dark: #1a659e;
  --cl-medium: #ff6b35;
  --cl-medium-light: #f7c59f;
  --cl-light: #ffffff;
  --cl-text: #ffffff;

  --cl-accent: #f94b06;
  --cl-accent-light: #f8bb2a;

  /* // === FONTS === */
  --ff-main: 'Noto Sans', Arial, Helvetica, sans-serif;
  --ff-logo: 'Noto Sans', Arial, Helvetica, sans-serif;

  --br-regular: var(--cl-medium-dark) 3px solid;
  --br-small-dark: var(--cl-medium-dark) 2px solid;
  --br-small-light: var(--cl-medium-light) 2px solid;

  --breakpoint-phone: 500px;
}
