@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

/* // === COLORS === */
:root {
  --cl-dark: #0e3d61;
  --cl-medium-dark: #1a659e;
  --cl-medium: #ff6b35;
  --cl-medium-light: #f7c59f;
  --cl-light: #e9e9e9;
  --cl-text: #ffffff;

  --cl-accent: #f94b06;
  --cl-light-accent: #f8bb2a;

  /* // === FONTS === */
  --ff-main: 'Noto Sans', Arial, Helvetica, sans-serif;
  --ff-logo: 'Noto Sans', Arial, Helvetica, sans-serif;

  --br-regular: 3px solid var(--medium-dark);
  --br-small-dark: 2px solid var(--medium-dark);
  --br-small-light: 2px solid var(--medium-light);

  --breakpoint-phone: 500px;
}
